/* css styles */
.quarto-about .about-links {
  display: flex;
  justify-content: center; /* Wyśrodkowanie */
  gap: 15px; /* Odstęp między kafelkami */
  flex-wrap: wrap; /* Zawijanie wierszy na mniejszych ekranach */
  margin-top: 20px; /* Odstęp od treści powyżej */
}

.quarto-about .about-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 20px 0;
}

.photo-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.photo-grid img:hover {
  transform: scale(1.05);
}